html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Menonaktifkan scroll */
}

.container-fluid {
    height: 100%;
    padding: 0;
}

.row {
    height: 100%;
}

.btn-login {
    background-color: #880C16; /* Merah */
    color: #fff;
    border: none;
}

.btn-login:hover {
    background-color: #590E14; /* Merah lebih gelap saat hover */
}

.form-control {
    border-radius: 0.25rem; /* Membuat sudut input lebih halus */
    border: 1px solid #ccc; /* Border default */
}

.form-control:hover {
    border-color: #880C16; /* Merah saat hover */
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); /* Efek glow merah */
}

.form-control:focus {
    border-color: #880C16; /* Merah saat fokus */
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); /* Efek glow merah */
}
